:root {
    --ringo-close: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnPjxsaW5lIHgxPScxOCcgeTE9JzYnIHgyPSc2JyB5Mj0nMTgnPjwvbGluZT48bGluZSB4MT0nNicgeTE9JzYnIHgyPScxOCcgeTI9JzE4Jz48L2xpbmU+PC9zdmc+");
}

@media (prefers-color-scheme: dark) {
    :root {
        --ringo-close: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNiYmInIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48bGluZSB4MT0nMTgnIHkxPSc2JyB4Mj0nNicgeTI9JzE4Jz48L2xpbmU+PGxpbmUgeDE9JzYnIHkxPSc2JyB4Mj0nMTgnIHkyPScxOCc+PC9saW5lPjwvc3ZnPg==");
    }
}

.ringo-notice-info {
    --ringo-notice-primary: #3498db;
    --ringo-notice-background: rgb(237, 244, 251);
}

@media (prefers-color-scheme: dark) {
    .ringo-notice-info {
        --ringo-notice-background: rgb(32, 39, 46);
    }
}

.ringo-notice-error {
    --ringo-notice-background: rgb(251, 238, 236);
    --ringo-notice-primary: #e74c3c;
}

@media (prefers-color-scheme: dark) {
    .ringo-notice-error {
        --ringo-notice-background: rgb(46, 33, 31);
    }
}

.ringo-notice-success {
    --ringo-notice-background: rgb(239, 250, 241);
    --ringo-notice-primary: #2ecc71;
}

@media (prefers-color-scheme: dark) {
    .ringo-notice-success {
        --ringo-notice-background: rgb(34, 45, 36);
    }
}

.ringo-notice-warning {
    --ringo-notice-background: rgb(253, 249, 236);
    --ringo-notice-primary: #f1c40f;
}

@media (prefers-color-scheme: dark) {
    .ringo-notice-warning {
        --ringo-notice-background: rgb(48, 44, 31);
    }
}

.ringo-notice {
    border-radius: 4px;
    padding: 12px 24px;
    background-color: var(--ringo-notice-background);
    color: var(--ringo-notice-primary);
}

.ringo-notice * {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.ringo-notice-content {
    opacity: 0.75;
    font-size: 14px;
}

.ringo-notice-close {
    position: absolute;
    top: 0px;
    right: 0;
    display: inline;
    height: 12px;
    width: 12px;
    opacity: 0.5;
    background: var(--ringo-close);
}