/*
    Copied from https://github.com/reactify-component/react-message
    Author: Innei https://github.com/innei
*/

@import './util.css';

@keyframes fade-small-large {
  from {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }

  to {
    opacity: 1;
    transform: scale(1, 1);
  }
}

@keyframes fade-large-small {
  from {
    opacity: 1;
    transform: scale(1, 1);
  }

  to {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
}

.ringo-innei-notice-enter {
  animation: fade-small-large 0.3s both;
}

.ringo-innei-notice-leave {
  animation: fade-large-small 0.3s both;
}

.ringo-notice {
    --backgroud-color: #fff;

    box-sizing: border-box;
    padding: 10px 16px;
    box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%),
        0 9px 28px 8px rgb(0 0 0 / 5%);
    border-radius: 32px;
    background-color: var(--backgroud-color);
    font-size: 14px;
}

@media (prefers-color-scheme: dark) {
    .ringo-notice {
        --backgroud-color: #212121;
    }
}

.ringo-notice-content {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 14px;
}

.ringo-notice-content::before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 512 512"%3E%3Cpath fill="cornflowerblue" d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256s114.6 256 256 256zm-40-176h24v-64h-24c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-80c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-144c-17.7 0-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32s-14.3 32-32 32z"%2F%3E%3C%2Fsvg%3E');
    margin-right: 10px;
}

.ringo-notice-warning .ringo-notice-content::before {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 512 512"%3E%3Cpath fill="%23ffc107" d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256s114.6 256 256 256zm0-384c13.3 0 24 10.7 24 24v112c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zm32 224c0 17.7-14.3 32-32 32s-32-14.3-32-32s14.3-32 32-32s32 14.3 32 32z"%2F%3E%3C%2Fsvg%3E');
}

.ringo-notice-error .ringo-notice-content::before {
    background-image: url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="1em" height="1em" viewBox="0 0 512 512"%3E%3Cpath fill="tomato" d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256s114.6 256 256 256zm-81-337c9.4-9.4 24.6-9.4 33.9 0l47 47l47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47l47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47l-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47l-47-47c-9.4-9.4-9.4-24.6 0-33.9z"%2F%3E%3C%2Fsvg%3E');
}

.ringo-notice-success .ringo-notice-content::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 512 512'%3E%3Cpath fill='%2339c5bb' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256S119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z'/%3E%3C/svg%3E%0A");
}
