:root {
    --ringo-message-background: #f9f9f9;
    --ringo-font-color: black;
    --ringo-close: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScyJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnPjxsaW5lIHgxPScxOCcgeTE9JzYnIHgyPSc2JyB5Mj0nMTgnPjwvbGluZT48bGluZSB4MT0nNicgeTE9JzYnIHgyPScxOCcgeTI9JzE4Jz48L2xpbmU+PC9zdmc+");
}

@media (prefers-color-scheme: dark) {
    :root {
        --ringo-message-background: #2f2f2f;
        --ringo-font-color: #bbb;
        --ringo-close: url("data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0JyBmaWxsPSdub25lJyBzdHJva2U9JyNiYmInIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbGluZWpvaW49J3JvdW5kJz48bGluZSB4MT0nMTgnIHkxPSc2JyB4Mj0nNicgeTI9JzE4Jz48L2xpbmU+PGxpbmUgeDE9JzYnIHkxPSc2JyB4Mj0nMTgnIHkyPScxOCc+PC9saW5lPjwvc3ZnPg==");
    }
}

.ringo-message-info {
    --ringo-message-primary: #3498db;
}

@media (prefers-color-scheme: dark) {
    .ringo-message-info {
        --ringo-message-primary: #2980b9;
    }
}

.ringo-message-error {
    --ringo-message-primary: #e74c3c;
}

@media (prefers-color-scheme: dark) {
    .ringo-message-error {
        --ringo-message-primary: #c0392b;
    }
}

.ringo-message-success {
    --ringo-message-primary: #2ecc71;
}

@media (prefers-color-scheme: dark) {
    .ringo-message-success {
        --ringo-message-primary: #27ae60;
    }
}

.ringo-message-warning {
    --ringo-message-primary: #f1c40f;
}

@media (prefers-color-scheme: dark) {
    .ringo-message-warning {
        --ringo-message-primary: #e67e22;
    }
}

.ringo-message {
    border-radius: 4px;
    padding: 20px 24px;
    background-color: var(--ringo-message-background);
    color: var(--ringo-font-color);
    border-top: 8px var(--ringo-message-primary) solid;
}

.ringo-message * {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.ringo-message-head {
    font-size: 20px;
    color: var(--ringo-message-primary);
    margin-bottom: 6px;
}

.ringo-message-content {
    font-size: 16px;
    opacity: 0.75;
}

.ringo-message-close {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    height: 24px;
    width: 24px;
    opacity: 0.5;
    background: var(--ringo-close);
}